<header class="hdr">
  <h1 align="center"><a href="/tasks"><%= image_tag 'hedder.png' %></a></h1>

</header>
<p id="notice"><%= notice %></p>
<table align="center">
  <thead>
  <tr align="center">
    <th>Top</th>
    <th>Information</th>
    <th>Live</th>
    <th>Archive</th>
    <th>Link</th>
  </tr>
  </thead>
  </tbody>
</table>


<footer align="right">
  <br>
  @Task To Do
</footer>
